@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonte-principal:  "Poppins", sans-serif;
    --cinza-principal: #50545dDA;
    --cinza-secundario: #A3A9B5DA;
    --preto-terciario: #040404;
    --vermelho-terciario: #aa111a;
    --vermelho-terciario-semitransparente: #AA111ADE;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-principal);
    
}

body {
    box-sizing: border-box;
    background-image: url(./img/background\ 1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cabecalho {
    height: 7.5em;
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--cinza-secundario);
}


.cabecalho__links:hover {
    background-color: var(--vermelho-terciario);
    color: var(--branco);
    padding: 0.5em;
    border: 1px solid var(--cinza-secundario);
    border-radius: 0.25em;
}

.titulo {
    margin: 0.25em;
}

.cabecalho__links {
    text-decoration: none;
    color: var(--vermelho-terciario);
    align-self: center;
    margin: 0.5em;
    font-weight: 500;
}

.rodape {
    padding: 24px;
    text-align: center;
    color: var(--branco);
}